{% load static %}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="{% static 'main/images/favicon.png' %}" type="">
  <title> AI.Force </title>
  <link rel="stylesheet" type="text/css" href="{% static 'main/css/bootstrap.css' %}" />
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
  <link href="{% static 'main/css/font-awesome.min.css' %}" rel="stylesheet" />
  <link href="{% static 'main/css/style.css' %}" rel="stylesheet" />
  <link href="{% static 'main/css/responsive.css' %}" rel="stylesheet" />
</head>
<body class="sub_page">
  <div class="hero_area">
    <div class="hero_bg_box">
      <div class="bg_img_box">
        <img src="{% static 'main/images/hero-bg.png' %}" alt="">
      </div>
    </div>
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container ">
          <a class="navbar-brand" href="https://aiforce.up.railway.app/">
            <span>
              AI.Force
            </span>
          </a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav  ">
              <li class="nav-item ">
                <a class="nav-link" href="https://aiforce.up.railway.app/">Главная </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://aiforce.up.railway.app/about"> О нас</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://aiforce.up.railway.app/service">Сервисы</a>
              </li>
              <li class="nav-item active">
                <a class="nav-link" href="https://aiforce.up.railway.app/why">Почему мы? <span class="sr-only">(current)</span> </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://aiforce.up.railway.app/team">Команда</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="https://aiforce.up.railway.app/signin"> <i class="fa fa-user" aria-hidden="true"></i> Войти</a>
              </li>
              <form class="form-inline">
                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                  <i class="fa fa-search" aria-hidden="true"></i>
                </button>
              </form>
            </ul>
          </div>
        </nav>
      </div>
    </header>
  </div>
  <section class="why_section layout_padding">
    <div class="container">
      <div class="heading_container heading_center">
        <h2>
          Почему <span>мы</span>
        </h2>
      </div>
      <div class="why_container">
        <div class="box">
          <div class="img-box">
            <img src="{% static 'main/images/w1.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Экспетное управление
            </h5>
            <p>
              В AI.Force мы понимаем, что управление кибербезопасностью может быть сложной задачей. 
                Именно поэтому мы разработали экспертную систему управления, которая упрощает этот процесс. 
                Наш интуитивно понятный интерфейс позволяет легко отслеживать и контролировать безопаность вашего ребенка. 
                Благодаря тому, что наша команда экспертов постоянно обновляет и совершенствует наши системы, 
                вы можете быть уверены, что управление вашей кибербезопасностью будет простым и позволит вам не беспокоиться о безопасности вашего ребенка.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'main/images/w2.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Финансовая безопаность
            </h5>
            <p>
              В AI.Force ваша цифровая безопасность превыше всего. Однако, мошенничество до сих пор является большой угрозой!
                Наши надежные методы обеспечения безопасности предназначены для предотвращения широкого спектра киберугроз, 
                гарантируя, что ваши данные останутся в безопасности, а мошенничество перестанет быть для вас и вашего ребенка серьезной проблемой.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'main/images/w3.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Мгновенная реакция
            </h5>
            <p>
              Скорость имеет решающее значение для кибербезопасности, и мы преуспеваем в этой области. 
                Наши системы оптимизированы для быстрого обнаружения угроз и реагирования на них, гарантируя 
                быстрое и эффективное устранение любых потенциальных нарушений. Такая возможность быстрого реагирования 
                сводит к минимуму риск быть жертвой злоумышленников.
            </p>
          </div>
        </div>
        <div class="box">
          <div class="img-box">
            <img src="{% static 'main/images/w4.png' %}" alt="">
          </div>
          <div class="detail-box">
            <h5>
              Счастливый покупатель
            </h5>
            <p>
              Ваше удовлетворение — краеугольный камень нашей миссии AI.Force. 
                Мы гордимся тем, что не только оправдываем, но и превосходим ожидания клиентов. 
                Наша специализированная команда поддержки всегда готова помочь с любыми вопросами или проблемами, обеспечивая беспроблемную работу. 
                Доверие и удовлетворенность наших клиентов отражены в их отзывах, отражающих наше стремление к совершенству в области кибербезопасности. 
                С AI.Force вы выбираете не просто услугу, а партнера, который позаботится о вашем спокойствии в цифровом мире.
              </p>
            </p>
          </div>
        </div>
      </div>
      <div class="btn-box">
        <a href="">
          Подробнее
        </a>
      </div>
    </div>
  </section>
  <section class="info_section layout_padding2">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_contact">
            <h4>
              Адрес
            </h4>
            <div class="contact_link_box">
              <a href="">
                <i class="fa fa-map-marker" aria-hidden="true"></i>
                <span>
                  Локация Томск
                </span>
              </a>
              <a href="">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <span>
                  Позвонить +7 999 618 92 31
                </span>
              </a>
              <a href="">
                <i class="fa fa-envelope" aria-hidden="true"></i>
                <span>
                  mega.fo@list.ru
                </span>
              </a>
            </div>
          </div>
          <div class="info_social">
            <a href="">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-linkedin" aria-hidden="true"></i>
            </a>
            <a href="">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col">
          <div class="info_detail">
            <h4>
              Информация
            </h4>
            <p>Если вы заинтересованы в сервисе, закажите звонок, и мы предоставим вам лучший сервис.</p>
          </div>
        </div>
        <div class="col-md-6 col-lg-2 mx-auto info_col">
          <div class="info_link_box">
            <h4>
              Ссылка
            </h4>
            <div class="info_links">
              <a class="active" href="https://aiforce.up.railway.app/">
                Главная
              </a>
              <a class="" href="https://aiforce.up.railway.app/about">
                О нас
              </a>
              <a class="" href="https://aiforce.up.railway.app/service">
                Сервисы
              </a>
              <a class="" href="https://aiforce.up.railway.app/why">
                Почему мы?
              </a>
              <a class="" href="https://aiforce.up.railway.app/team">
                Команда
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3 info_col ">
          <h4>
            Подписаться
          </h4>
          <form action="#">
            <input type="text" placeholder="Enter email" />
            <button type="submit">
              Подписаться
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  <section class="footer_section">
    <div class="container">
      <p>
        &copy; <span id="displayYear"></span> All Rights Reserved
      </p>
    </div>
  </section>
  <script type="text/javascript" src="{% static 'main/js/jquery-3.4.1.min.js' %}"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
  </script>
  <script type="text/javascript" src="{% static 'main/js/bootstrap.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script type="text/javascript" src="{% static 'main/js/custom.js' %}"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
  </script>
</body>
</html>